<div class="user-details">
  <h1>Featured Projects</h1>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
{% for project in site.data.projects %}
  <div class="user-projects{% if project.alignment == 'right' %} reverse{% endif %}">
    <div class="images">
      <div
        id="carousel-{{ forloop.index }}"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
        data-bs-interval="3000"
        data-bs-pause="false"
      >
        <div class="carousel-inner">
          {% for image in project.images %}
            <div class="carousel-item {% if forloop.first %}active{% endif %} img-fluid">
              <img
                src="{{ image.src }}"
                class="d-block w-100"
                alt="{{ image.alt }}"
              >
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="contents">
      <h3>{{ project.title }}</h3>
      <ul>
        {% for skill in project.skills %}
          <li>{{ skill }}</li>
        {% endfor %}
      </ul>
      <p>
        {{ project.description }}
      </p>
      <a class="project-link" href="{{ project.link }}">Check it out</a>
    </div>
  </div>
{% endfor %}
</div>
